html, body{
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: '微软雅黑', '幼圆', Arial;
}

body{
    overflow: hidden;
}

img{
    border: none;
}


#game, #job, #fun{
    height: 100%;
    min-height: 580px;
    position: relative;
    background-repeat: repeat;
    background-position: left top;
    visibility: hidden;
}

.background{
    height: 100%;
    background-repeat: repeat-x;
    background-position: left top;
}

.content{
    position: absolute;
    width: 990px;
    height: 580px;
    min-height: 580px;
    left: 50%;
    top: 50%;
    margin-left: -495px;
    margin-top: -290px;
}

.image{
    position: absolute;
}

.logo{
    position: absolute;
    width: 448px;
    height: 107px;
    left: 42px;
    top: 30px;
    text-decoration: none;
}

.logo img{
    width: 448px;
    height: 107px;
}

.menu{
    position: absolute;
    left: 640px;
    top: 65.4px;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.menu li{
    position: absolute;
    top: 0px;
}

.menu li a{
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    background-position: left top;
    background-repeat: no-repeat;
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: #2E3F1F;
	text-align: center;
}

.menu li a:hover{
	color: white;
}

.menu .job{
    left: 0px;
}

.menu .job a{
    width: 80px;
}

.menu .game{
    left: 123px;
}

.menu .game a{
    width: 72px;
}

.menu .fun{
    left: 239px;
}

.menu .fun a{
    width: 65px;
}


#job{
    background-image: url("../images/job_bg_square.jpg");
}

#job .background{
    background-image: url("../images/job_bg_vertical.jpg");
}

#job .image{
    left: 22px;
    top: 19px;
}

.info{
    position: absolute;
    text-decoration: none;
	background-image: url("../images/clear.gif");
    font-size: 30px;
	color: white;
}

#job .info{
    height: 194px;
    left: 39px;
    top: 183px;
    width: 450px;
}


.info strong{
	color: #5C771E;
	font-weight: 300;
}

#job .media{
    position: absolute;
    width: 192px;
    height: 194px;
    left: 750px;
    top: 179px;
    text-decoration: none;
    background-image: url("../images/clear.gif");
    background-repeat: repeat;
    background-position: left top;
}

#job .blog{
    position: absolute;
    left: 550px;
    top: 392px;
}

#job .people{
    position: absolute;
    left: 651px;
    top: 445px;
}


#game{
    background-image: url("../images/game_bg_square.jpg");
 }

#game .background{
    background-image: url("../images/game_bg_vertical.jpg");
}


#game .info {
	left: 40px;
    top: 150px;
    width: 612px;
    height: 194px;
}

#game .info strong {
	color: #0C7DB4;
}

#game .image{
    left: 41px;
    top: 14px;
}

#game .scia{
    width: 50%;
    height: 93px;
    position: absolute;
    left: 0px;
    margin-left: -95px;
    top: 50%;
    margin-top: 28px;
    background-image: url("../images/game_scia.png");
    background-repeat: repeat-x;
    background-position: right center;
}

#slider_nav{
    height: 18px;
    position: absolute;
	padding-right: 10px;
    right: 10px;
    top: 419px;
    background-image: url("../images/game_slider_nav_bg.png");
    background-repeat: no-repeat;
    background-position: center center;
}

#slider_nav .jFlowControl,
#slider_nav #btn1,
#slider_nav #btn2,
#slider_nav #btn3,
#slider_nav #btn4,
#slider_nav #btn5{
    display: block;
    width: 16px;
    height: 16px;
    font-size: 11px;
    color: #FFFFFF;
    cursor: pointer;
    line-height: 16px;
    margin-top: 1px;
    margin-left: 5px;
    text-align: center;
    float: left;
}

#slider_nav .active{
    background-image: url("../images/game_slider_nav_active_bg.png");
    background-repeat: no-repeat;
    background-position: center center;
}



#slider{
    width: 952px;
    height: 110px;
    position: absolute;
    left: 19px;
    top: 451px;
}

#slider_left:link, #slider_left:visited{
    width: 22px;
    height: 62px;
    text-decoration: none;
    position: absolute;
    left: 0px;
    top: 24px;
    background-image: url("../images/game_slider_left_normal.png");
    background-repeat: no-repeat;
    background-position: left center;
}

#slider_left:hover{
    background-image: url("../images/game_slider_left_active.png");
}

#slider_right:link, #slider_right:visited{
    display: block;
    width: 22px;
    height: 62px;
    text-decoration: none;
    position: absolute;
    right: 0px;
    top: 24px;
    background-image: url("../images/game_slider_right_normal.png");
    background-repeat: no-repeat;
    background-position: right center;
}

#slider_right:hover{
    background-image: url("../images/game_slider_right_active.png");
}

#slider_content{
    width: 868px;
    height: 110px;
    position: absolute;
    top: 0px;
    left: 42px;
    overflow: hidden;
}

#slider ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#slider .block{
    width: 868px;
    height: 110px;
}

#slider .sep{
    float: left;
    background-image: url("../images/game_slider_sep.png");
    background-repeat: repeat-y;
    background-position: center top;
    width: 20px;
    height: 110px;
}

#slider .item{
    float: left;
    width: 202px;
    height: 110px;
    font-size: 11px;
    color: #FFFFFF;
}

#slider .item a:link, #slider .item a:visited{
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 10px;
    background-image: url("../images/game_slider_link_bg.png");
    background-repeat: no-repeat;
    background-position: right 4px;
}

#slider .item a:hover{

}

#slider .item .description{
    position: absolute;
	font-size: 14px;
    bottom: 0px;
}

#slider .item strong{
    color: #0C7DB4;
    font-weight: normal;
    display: block;
    font-size: 11px;
}



#fun{
    background-image: url("../images/fun_bg_square.jpg");
}

#fun .background{
    background-image: url("../images/fun_bg_vertical.jpg");
}

#fun .image{
    left: 40px;
    top: 22px;
}

#fun .menu a{
	color: #6C4C35;
}

#fun .menu a:hover {
	color: white;
}

#fun .testo{
    font-size: 14px;
    color: #FFFFFF;
    line-height: 17px;
    position: absolute;
    left: 57px;
    top: 424px;
    margin: 0px;
    padding: 0px;
}

#fun .info {
	left: 40px;
    top: 160px;
    width: 500px;
    height: 170px;
}

#fun .info strong{
	color: #A7642E;
}

#fun .testo a:link, #fun .testo a:visited{
    color: #FFFFFF;
    text-decoration: none;
}

#fun .testo a:hover{
    text-decoration: underline;
}

#fun .twitter,
#fun .facebook,
#fun .linkedin{
    position: absolute;
    text-decoration: none;
    background-image: url("../images/clear.gif");
    background-repeat: repeat;
    background-position: left top;    
}

#fun #twitter_baloon,
#fun #facebook_baloon,
#fun #linkedin_baloon{
    position: absolute;
    display: none;
}

#fun .twitter{
    left: 807px;
    top: 292px;
    width: 48px;
    height: 42px;
}

#fun #twitter_baloon{
    left: 774px;
    top: 217px;
}

#fun .facebook{
    left: 810px;
    top: 393px;
    width: 69px;
    height: 65px;
}

#fun #facebook_baloon{
    left: 793px;
    top: 327px;
}

#fun .linkedin{
    left: 892px;
    top: 330px;
    width: 71px;
    height: 63px;
}

#fun #linkedin_baloon{
    position: absolute;
    left: 882px;
    top: 257px;
}

#fun .form{
    position: absolute;
    left: 262px;
    top: 381px;
    width: 37px;
    height: 154px;
}

#fun .form form{
    width: 0px;
    background-image: url("../images/fun_form_bg.png");
    background-repeat: no-repeat;
    background-position: left top;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 154px;
}

#fun .form input, #fun .form textarea{
    font-family: Trebuche, Arial;
    font-size: 17px;
    line-height: 17px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 4px;
    padding-bottom: 3px;
    margin: 0px;
    color: #333333;
    background-color: #FFFFFF;
    border: none;
    display: none;
}

#fun .form #form_open:link, #fun .form #form_open:visited{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 37px;
    height: 154px;
    background-image: url("../images/fun_form_open.png");
    background-repeat: no-repeat;
    background-position: left top;
}

#fun .form #form_open:hover{
    background-image: url("../images/fun_form_open_hover.png");
}

#fun .form .nome{
    position: absolute;
    left: 26px;
    top: 42px;
    width: 214px;
}

#fun .form .email{
    position: absolute;
    left: 26px;
    top: 109px;
    width: 214px;
}

#fun .form .testo{
    position: absolute;
    left: 267px;
    top: 42px;
    width: 204px;
    height: 87px;
}

#fun .form #form_submit:link,#fun .form #form_submit:visited{
    display: none;
    position: absolute;
    left: 500px;
    top: 72px;
    width: 154px;
    height: 34px;
    text-decoration: none;
    background-image: url("../images/fun_form_submit.png");
    background-repeat: no-repeat;
    background-position: left top;
}

#fun .form #form_submit:hover{
    background-image: url("../images/fun_form_submit_hover.png");
}

#fun .form #form_close:link, #fun .form #form_close:visited{
    display: none;
    position: absolute;
    left: 663px;
    top: 0px;
    width: 37px;
    height: 154px;
    background-image: url("../images/fun_form_close.png");
    background-repeat: no-repeat;
    background-position: left top;
}

#fun .form #form_close:hover{
    background-image: url("../images/fun_form_close_hover.png");
}